body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    padding: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
  .preview-container {
    display: flex;
    gap: 100px;
    margin-top: 20px;
  }
  .preview-box {
    text-align: center;
  }
  img {
    max-width: 300px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  input[type="file"] {
    margin-top: 10px;
  }
  .progress {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    margin-top: 10px;
}
.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: white;
}
  